// FONTS

@font-face {
  font-family: 'Ashby';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Ashby/ashby.extra-bold.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url('/fonts/Josefin/JosefinSans-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

// COLORS

@color-r: #cd0f22;
@color-o: #c63;
@color-y: darken(#fc3, 5%);
@color-g: #393;
@color-b: #369;
@color-v: #639;

@color-bg: #fdfdff;
@color-fg: #322e22;
@color-em: @color-y;
@color-link: @color-g;

// SIZES

@header-height: 64px;

// MAIN

@px-main-width: 1024px;

body, html {
  padding: 0;
  margin: 0;
  min-width: @px-main-width;
  font-family: 'Josefin Sans', sans-serif;
  color: @color-b;
  background-color: @color-bg;
  font-size: 22px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  // see: https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a:link, a:visited {
  color: lighten(@color-link, 5%);
}
a:hover {
  color: @color-link;
}
a:active {
  color: darken(@color-link, 5%);
}

em {
  color: darken(@color-y, 10%);
  font-family: Ashby, serif;
  font-style: normal;
  font-weight: 800;
}

h2 {
  color: @color-r;
  font-family: Ashby, serif;
  font-weight: 800;
  font-size: 36px;
}

// LAYOUT

#root {
  display: flex;
  flex-direction: column;
}

#header {
  background-color: @color-bg;
  border-bottom: 1px solid @color-r;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: @header-height;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#nav {
  font-family: Ashby, serif;
  font-weight: 800;
  font-size: 24px;
  text-align: right;
  padding: 8px;
}

#nav > a,
#nav > span {
  margin-right: 8px;
}
#nav > span {
  color: @color-r;
}

#logo {
  padding: 8px 8px 8px 31px;
}

#logo > a > img {
  height: 48px;
}

#body {
  margin-top: @header-height;
  z-index: 1;
}

#main {
  width: @px-main-width;
  padding: 8px;
  margin: auto;
  text-align: center;
}

// SHAPES SIDEBAR

#shapes {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  & > path {
    stroke: none;
    &.r {
      fill: @color-r;
    }
    &.b {
      fill: @color-b;
    }
    &.y {
      fill: @color-y;
    }
    &.g {
      fill: @color-g;
    }
  }
}

// SECTION DIVIDERS

.si-icon-divider {
  background-image: url(/img/divider-desktop.png);
  background-repeat: space no-repeat;
  height: 28px;
  margin: 32px 0;
}

// TAGS

#tags > .tag {
  margin-right: 24px;
  margin-top: 12px;
  width: 176px;
}

.tag {
  padding: 8px;
  border-radius: 8px;
  color: white;
  display: inline-block;
  border: 2px solid black;
  cursor: pointer;

  // see: https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tag-colors(@color) {
  color: @color;
  background-color: @color-bg;
  border-color: @color;
}

.tag-colors-active(@color) {
  color: @color-bg;
  background-color: @color;
}

@percent-change: 10%;

.tag.ed { .tag-colors(@color-r); }
.tag.el { .tag-colors(@color-o); }
.tag.fab { .tag-colors(darken(@color-y, @percent-change)); }
.tag.g { .tag-colors(@color-g); }
.tag.rw { .tag-colors(@color-b); }
.tag.sw { .tag-colors(@color-v); }
.tag.viz { .tag-colors(@color-fg); }

.tag.ed:hover { .tag-colors(darken(@color-r, @percent-change)); }
.tag.el:hover { .tag-colors(darken(@color-o, @percent-change)); }
.tag.fab:hover { .tag-colors(darken(@color-y, @percent-change * 2)); }
.tag.g:hover { .tag-colors(darken(@color-g, @percent-change)); }
.tag.rw:hover { .tag-colors(darken(@color-b, @percent-change)); }
.tag.sw:hover { .tag-colors(darken(@color-v, @percent-change)); }
.tag.viz:hover { .tag-colors(darken(@color-fg, @percent-change)); }

.tag.ed.active { .tag-colors-active(@color-r); }
.tag.el.active { .tag-colors-active(@color-o); }
.tag.fab.active { .tag-colors-active(darken(@color-y, @percent-change)); }
.tag.g.active { .tag-colors-active(@color-g); }
.tag.rw.active { .tag-colors-active(@color-b); }
.tag.sw.active { .tag-colors-active(@color-v); }
.tag.viz.active { .tag-colors-active(@color-fg); }

.tag.ed.active:hover { .tag-colors-active(lighten(@color-r, @percent-change)); }
.tag.el.active:hover { .tag-colors-active(lighten(@color-o, @percent-change)); }
.tag.fab.active:hover { .tag-colors-active(@color-y); }
.tag.g.active:hover { .tag-colors-active(lighten(@color-g, @percent-change)); }
.tag.rw.active:hover { .tag-colors-active(lighten(@color-b, @percent-change)); }
.tag.sw.active:hover { .tag-colors-active(lighten(@color-v, @percent-change)); }
.tag.viz.active:hover { .tag-colors-active(lighten(@color-fg, @percent-change)); }

// PROJECTS

#projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  overflow: hidden;
  padding: 32px 0 64px 0;
}
.project {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.project::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.project-wrapper {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.project-wrapper * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.project-link {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}
.project-tags {
  display: none;
}
.project-image {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  transform: rotate3d(0,0,0,0deg);
}

// HIGHLIGHTS

.project-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  transition: all .2s linear;
  z-index: 2;
}

.project-wrapper.ed > .project-link:before { background: fade(@color-r, 60%); }
.project-wrapper.el > .project-link:before { background: fade(@color-o, 70%); }
.project-wrapper.fab > .project-link:before { background: fade(@color-y, 60%); }
.project-wrapper.g > .project-link:before { background: fade(@color-g, 60%); }
.project-wrapper.rw > .project-link:before { background: fade(@color-b, 60%); }
.project-wrapper.sw > .project-link:before { background: fade(@color-v, 60%); }
.project-wrapper.viz > .project-link:before { background: fade(@color-fg, 70%); }

.project-wrapper:hover > .project-link:before { background: fade(@color-bg, 40%); }

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4 per row */
  #projects{
    padding-bottom: 4.4%
  }
  .project {
    width: 20%; /* = 100 / 5 */
  }
  .project:nth-child(9n+6){ /* first.projectagon of even rows */
    margin-left:10%;  /* = width of .project / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3 per row */
  #projects{
    padding-bottom: 5.5%
  }
  .project {
    width: 25%; /* = 100 / 4 */
  }
  .project:nth-child(7n+5){ /* first of even rows */
    margin-left:12.5%;  /* = width of .project / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2 per row */
  #projects{
    padding-bottom: 7.4%
  }
  .project {
    width: 33.333%; /* = 100 / 3 */
  }
  .project:nth-child(5n+4){ /* first.projectagon of even rows */
    margin-left:16.666%;  /* = width of .project / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1 per row */
  #projects{
    padding-bottom: 11.2%
  }
  .project {
    width: 50%; /* = 100 / 3 */
  }
  .project:nth-child(3n+3){ /* first.projectagon of even rows */
    margin-left:25%;  /* = width of .project / 2  to indent even rows */
  }
}

// CONSULTING

.client {
  display: inline-block;
  padding: 10px;
  width: ~"calc(20% - 20px)";
  & > img {
    width: 120px;
    height: 120px;
  }
}

// CONTACT

.team-member {
  display: inline-block;
  width: 49%;
  & > img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
  }
}

// FOOTER

footer {
  font-size: 16px;
  text-align: center;
}