/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url('/fonts/Muli/Muli-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body, html {
  padding: 0;
  margin: 0;
  min-width: 1024px;
  font-family: Muli, sans-serif;
  color: #322e22;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  color: #444;
  border-bottom: 8px solid brown;
}

#nav {
  text-align: right;
  font-size: 20px;
  padding: 8px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-style: italic;
}

#nav > a {
  margin-right: 32px;
}

#nav > a.active {
  color: #322e22;
  text-decoration: none;
}

#logo {
  padding: 8px;
}

#logo > a > img {
  height: 64px;
}

#main {
  width: 1024px;
  padding: 8px;
  margin: auto;
  text-align: center;
}

#tags > .tag {
  font-size: 18px;
  margin-right: 24px;
  margin-top: 12px;
  width: 176px;
}

.tag {
  padding: 8px;
  border-radius: 8px;
  color: white;
  display: inline-block;
  border: 2px solid black;
  opacity: 0.6;
  transition: opacity 100ms;
  cursor: pointer;
}
.tag:hover {
  opacity: 1;
}
.tag.ed {
  background-color: green;
  border-color: darkgreen;
}
.tag.el {
  background-color: blue;
  border-color: darkblue;
}
.tag.fab {
  background-color: orange;
  border-color: darkorange;
}
.tag.g {
  background-color: red;
  border-color: darkred;
}
.tag.rw {
  background-color: purple;
  border-color: purple;
}
.tag.viz {
  background-color: brown;
  border-color: brown;
}

#projects {
  margin-top: 24px;
}

.project {
  padding: 7px;
  border: 1px solid white;
  border-radius: 16px 16px 0 0;
  display: inline-block;
}

.project.selected {
  border: 1px solid black;
  border-bottom: 1px solid white;
}

.project-wrapper {
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}

.project-image {
  border-radius: 16px;
}

.project-title {
  position: absolute;
  bottom: 4px;
  text-align: left;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  height: 0;
  opacity: 0;
  font-size: 32px;
  padding: 8px;
  border-radius: 0 0 16px 16px;
  transition: height 100ms, opacity 100ms;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-style: italic;
}

.project-wrapper:hover > .project-title {
  height: 64px;
  opacity: 1;
}

.project-tags {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  transition: opacity 100ms;
}

.project-wrapper:hover > .project-tags {
  opacity: 1;
}

.project-tags > .tag {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
}

.project-details {
  text-align: left;
  border: 1px solid #322e22;
  position: relative;
  top: -1px;
  padding: 8px;
  border-radius: 16px;
}

.project-details:after {
  content: '';
  position: absolute;
  width: 314px;
  height: 1px;
  background-color: white;
  top: -1px;
  left: 346px;
}

.project-details-wrapper {
  border-radius: 10px;
  padding: 8px;
  background-color: white;
}

.project-details-wrapper > h3 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-style: italic;
}
