<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{pageTitle}}</title>
  <meta name="description" content="We build educational games, with expertise in hardware prototyping, software programming, fabrication, and interactive data visualization.">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Savage Internet" />
  <meta name="twitter:description" content="We build educational games, with expertise in hardware prototyping, software programming, fabrication, and interactive data visualization." />
  <meta name="twitter:image" content="https://savageinter.net/img/logo_square.png" />
  <meta name="twitter:creator" content="@_savage_games_" />
  <meta name="twitter:site" content="@_savage_games_" />

  <meta property="og:url" content="https://savageinter.net/" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Savage Internet" />
  <meta property="og:description" content="We build educational games, with expertise in hardware prototyping, software programming, fabrication, and interactive data visualization." />
  <meta property="og:site_name" content="Savage Internet" />
  <meta property="og:image" content="https://savageinter.net/img/logo_square.png" />
</head>