<div id="header">
    <div id="logo">
      <a href="/"><img src="/img/logo.svg" /></a>
    </div>
    <div id="nav">
      <span>Projects</span>
      <a href="/consulting.html">Consulting</a>
      <a href="https://blog.savageinter.net/">Blog</a>
      <a href="/team.html">Team</a>
    </div>
  </div>