<div id="header">
    <div id="logo">
      <a href="/"><img src="/img/logo.svg" /></a>
    </div>
    <div id="nav">
      <a href=/#projects_top>Projects</a>
      <a href="/#consulting_top">Consulting</a>
      <a href="/#contact_top">Contact</a>
      <a href="https://blog.savageinter.net/">Blog</a>
    </div>
  </div>