<div id="header">
    <div id="logo">
      <a href="/"><img src="/img/logo.svg" /></a>
    </div>
    <div id="nav">
      <ul>
        <li><a href=/#projects_top>Projects</a></li>
        <li><a href="/#consulting_top">Consulting</a></li>
        <li><a href="/#contact_top">Contact</a></li>
        <li><a href="https://blog.savageinter.net/">Blog</a></li>
      </ul>
    </div>
  </div>