<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
  <meta name="description" content="Savage Internet is a company that works in the spaces of education and games, with expertise in hardware prototyping, software programming, fabrication, and interactive data visualization.">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>