<!DOCTYPE html>
<html>
{{> head}}
<body>
<div id="root">
  {{> header}}
  <svg id="shapes" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
  <div id="body">
    <div id="main">
      <div id="top">
        <h1>Savage Internet is <em><a href="/#projects_top">serious</a></em> about <em><a href="/#projects_top" class="tagger g">play</a></em>.</h1>
        <p>
          We've crafted playful experiences to teach <em><a href="/the-puzzling-madness-of-john-a-macdonald.html">history</a></em>, <em><a href="/data-sense.html">math</a></em>, and <em><a href="/zombie-rendezvous.html">science</a></em>; to <em><a href="/hello-velo.html">demo</a></em> new technology; to <em><a href="/doc-savage-woman-of-bronze.html">celebrate</a></em> special events; to promote <em><a href="/jugger-california.html">fitness</a></em>; and just for the <em><a href="/d-d-gming.html">fun</a></em> of it.
        </p>
        <p>
          We work across the <em><a href="/#projects_top" class="tagger sw">digital</a></em> world and the <em><a href="/#projects_top" class="tagger rw">physical</a></em> one, leveraging skills in game design, software, electronics, 3D printing, teaching, UX, and visual design.
        </p>
        <p>
          So, dear reader, what will we <em><a href="/#consulting_top">create</a></em> together?
        </p>
      </div>
      <div class="si-icon-divider" id="projects_top"></div>
      <h2>Projects</h2>
      <div id="tags">
        <span class="tag ed">education</span>
        <span class="tag el">electronics</span>
        <span class="tag fab">fabrication</span>
        <span class="tag g">games</span>
        <span class="tag rw">real-world</span>
        <span class="tag sw">software</span>
        <span class="tag viz">visualization</span>
      </div>
      <div id="projects">
        {{#projects}}
          {{> projectShort}}
        {{/projects}}
      </div>
      <div class="si-icon-divider" id="consulting_top"></div>
      <h2>Consulting</h2>
      <div id="consulting">
        <p>
          We have extensive experience consulting with companies large and small, along with research labs.  You can see some of our previous work <em><a href="/#projects_top">above</a></em>.
        </p>
        <p>
          Need help with <em><a href="/#projects_top" class="tagger g">educational game design</a></em>, <em><a href="/#projects_top" class="tagger viz">data visualization</a></em>, <em><a href="/#projects_top" class="tagger fab">physical prototyping</a></em>, or <em><a href="/#projects_top" class="tagger sw">full-stack software development?</a></em>
        </p>
        <p>
          <a href="mailto:hire-us@savageinter.net">Contact us</a> with your project ideas, and we'll help you bring them to life.
        </p>
        <p>
          Some of our past clients:
        </p>
        <div id="clients">
          <div class="client">
            <img src="/img/clients/intel-300.png" alt="Intel" />
          </div>
          <div class="client">
            <img src="/img/clients/kinoma-300.png" alt="Kinoma" />
          </div>
          <div class="client">
            <img src="/img/clients/blue-oxen-300.png" alt="Blue Oxen" />
          </div>
          <div class="client">
            <img src="/img/clients/slac-300.png" alt="SLAC" />
          </div>
          <div class="client">
            <img src="/img/clients/nuance-300.png" alt="Nuance" />
          </div>
        </div>
      </div>
      <div class="si-icon-divider" id="contact_top"></div>
      <h2>Contact</h2>
      <div id="contact">
        <p>
          Email us at <a href="mailto:founders@savageinter.net">founders@savageinter.net</a>.  You can also find us on <a href="https://www.facebook.com/savageinternet">Facebook</a> and <a href="https://twitter.com/_savage_games_">Twitter</a>, or drop by our office in <a href="https://goo.gl/maps/ZakbM9qrjFv">Toronto</a>.
        </p>
        <p>
          To contact us individually:
        </p>
        <div class="team-member">
          <img src="/img/team/valkyrie-headshot-300.jpg" />
          <h2><em><a href="https://valkyriesavage.com">Valkyrie Savage</a></em></h2>
          <p>design, fabrication, electronics, UX</p>
          <p><a href="mailto:valkyrie@savageinter.net">valkyrie@savageinter.net</a></p>
        </div>
        <div class="team-member">
          <img src="/img/team/evan-headshot-300.jpg" />
          <h2><em><a href="https://savageevan.com">Evan Savage</a></em></h2>
          <p>software, algorithms, visualization</p>
          <p><a href="mailto:evan@savageinter.net">evan@savageinter.net</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
<script src="/js/shapes.js"></script>
<script src="/js/tags.js"></script>
</body>
</html>
