<!DOCTYPE html>
<html>
{{> head}}
<body>
<div id="root">
  {{> header}}
  <svg id="shapes" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
  <div id="body">
    <div id="main">
      <div id="top">
        <h1>Savage Internet is <em>serious</em> about <em>play</em>.</h1>
        <p>
          We've crafted playful experiences to teach <a href="puzzling-madness.html"><em>history</em></a>, <a href="data-sense.html"><em>math</em></a>, and <a href="zombie-rendezvous.html"><em>science</em></a>; to <a href="hello-velo.html"><em>demo</em></a> new technology; to <a href="doc-savage-woman-of-bronze.html"><em>celebrate</em></a> graduations, and just for kicks.
        </p>
        <p>
          We work across the <em>digital</em> world and the <em>physical</em> one, leveraging skills in game design, software, electronics, 3D printing, teaching, UX, and visual design.
        </p>
        <p>
          So, dear reader, what will we <a href="/#consulting_top"><em>create</em></a> together?
        </p>
      </div>
      <div class="si-icon-divider" id="projects_top"></div>
      <h2>Projects</h2>
      <div id="tags">
        <span class="tag ed">education</span>
        <span class="tag el">electronics</span>
        <span class="tag fab">fabrication</span>
        <span class="tag g">games</span>
        <span class="tag rw">real-world</span>
        <span class="tag sw">software</span>
        <span class="tag viz">visualization</span>
      </div>
      <div id="projects">
        {{#projects}}
          {{> projectShort}}
        {{/projects}}
      </div>
      <div class="si-icon-divider" id="consulting_top"></div>
      <h2>Consulting</h2>
      <div id="consulting">
        <p>
          We have extensive experience consulting with companies large and small, along with research labs.  We're available for the right projects exploring <em>games</em>, <em>education</em>, and their <em>intersection</em>.
        </p>
        <p>
          <a href="mailto:hire-us@savageinter.net">Contact us</a> with your project ideas; we'd love to talk them over.
        </p>
        <p>
          Some of our past clients:
        </p>
        <div id="clients">
          <div class="client">
            <img src="/img/clients/intel-300.png" alt="Intel" />
          </div>
          <div class="client">
            <img src="/img/clients/kinoma-300.png" alt="Kinoma" />
          </div>
          <div class="client">
            <img src="/img/clients/blue-oxen-300.png" alt="Blue Oxen" />
          </div>
          <div class="client">
            <img src="/img/clients/slac-300.png" alt="SLAC" />
          </div>
          <div class="client">
            <img src="/img/clients/nuance-300.png" alt="Nuance" />
          </div>
        </div>
      </div>
      <div class="si-icon-divider" id="contact_top"></div>
      <h2>Contact</h2>
      <div id="contact">
        <p>
          <a href="mailto:founders@savageinter.net">Give us an e-holler</a>, or we can grab a coffee near our office in downtown Toronto.
        </p>
        <div class="team-member">
          <img src="/img/team/valkyrie-headshot-300.jpg" />
          <h2><a href="https://valkyriesavage.com"><em>Valkyrie Savage</em></a></h2>
          <p>design, fabrication, electronics, UX</p>
          <p><a href="mailto:valkyrie@savageinter.net"></a></p>
        </div>
        <div class="team-member">
          <img src="/img/team/evan-headshot-300.jpg" />
          <h2><a href="https://savageevan.com"><em>Evan Savage</em></a></h2>
          <p>software, algorithms, visualization</p>
          <p><a href="mailto:evan@savageinter.net"></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
<script src="/js/shapes.js"></script>
<script src="/js/tags.js"></script>
</body>
</html>
