<!DOCTYPE html>
<html>
{{> head}}
<body>
<div id="root">
  {{> header}}
  <div id="body">
    <img class="project-image" src="/img/projects/{{project.thumb}}" alt="{{project.title}}">
    <div class="project-title">{{project.title}}</div>
    <div class="project-links">
      {{#project.links}}
        <a href="{{href}}">{{title}}</a>
      {{/project.links}}
    </div>
    <div class="project-desc">
        {{project.description}}
    </div>
    <div id="tags">
      {{#project.tags}}
        <span class="tag {{short}} active">{{long}}</span>
      {{/project.tags}}
    </div>
</div>
</body>
</html>
