<div class="project">
  <div class="project-wrapper">
    <a class="project-link" href="{{filename}}">
      <img class="project-image" src="/img/projects/{{thumb}}" alt="{{title}}">
    </a>
    <div class="project-tags">
      {{#tags}}
        <div class="tag {{short}}">{{short}}</div>
      {{/tags}}
    </div>
  </div>
</div>
