<!DOCTYPE html>
<html>
{{> head}}
<body>
<div id="root">
  {{> header}}
  <svg id="shapes" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
  <div id="body">
    <div id="main" class="project-main">
      {{#project}}
      <div class="project-header">
        <div class="project">
          <div class="project-wrapper">
            <a class="project-link" href="#">
              <img class="project-image" src="/img/projects/{{thumb}}" alt="{{title}}">
            </a>
          </div>
        </div>
        <div class="project-details">
          <h2>{{title}}</h2>
          <div class="project-links">
            {{#links}}
              <p><a href="{{href}}">{{title}}</a></p>
            {{/links}}
          </div>
        </div>
      </div>
      <div class="project-desc">
          {{description}}
      </div>
      <div id="tags">
        {{#tags}}
          <span class="tag {{short}} active">{{long}}</span>
        {{/tags}}
      </div>
      {{/project}}
    </div>
  </div>
</div>
{{> footer}}
<script src="/js/shapes.js"></script>
</body>
</html>
